@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Montserrat:wght@500;600&family=Outfit:wght@400;700&family=Overpass:wght@400;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsla(216, 12%, 54%, 0.175);
    --dark-blue: hsla(213, 20%, 18%, 0.749);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
    --main-font: 'Overpass', sans-serif;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding: 0 1rem;
    font-family: var(--main-font);
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: var(--very-dark-blue);
}

h1, p, h2 {
    margin: 0;
}
.card{
    padding:1.5rem;
    border-radius: 1rem;
    color: white;
    background-color: var(--dark-blue);
    max-width: 20rem;
    max-height: 23rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    width: 2rem;
    height: 2rem; 
    background-color: var(--medium-grey);
    border-radius: 100%;
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.card p{
    font-size: .8rem;
    color: var(--light-grey);
;
}

.rating{
    display: flex;
    justify-content: space-between;
}

.rating span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    width: 2rem;
    height: 2rem; 
    border-radius: 100%;
    background-color: var(--medium-grey);
    color: var(--light-grey);
    font-size: .7rem;
    font-weight: 700;
    animation-name: mouse-rating-out;
    animation-duration: 1s;
    cursor: pointer;

}

.rating span:hover{
    animation-name: background-color;
    background-color: var(--orange);
    color: var(--white);
}

 
 @keyframes mouse-rating-out {
    0%   {background-color:var(--orange); color: var(--white);}
    75%  {background-color:var(--light-grey); color: var(--white);}
    100% {background-color:var(--medium-grey); ;}
  }
 
  button{
    padding: .8rem;
    background-color: var(--orange);
    border-radius: 2rem;
    border: 0;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .1rem ;
    font-weight: 600;
    cursor: pointer;

    -moz-transition: all .2s  ease-in;
    /* WebKit */
    -webkit-transition: all .2s  ease-in;
    /* Opera */
    -o-transition: all .2s  ease-in;
    /* Standard */
    transition: all .2s ease-in;
  }

  button:hover{
    background-color: var(--white);
    color: var(--orange);
}

.thanks-card{
    display: none;
    padding: 2.3rem 1.3rem;
    border-radius: 1rem;
    color: white;
    background-color: var(--dark-blue);
    max-width: 20rem;
    min-height: 23rem;
}


.thanks-card-content{    
    gap: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#thanks-card-dynamic-text{
    color: var(--orange);
    font-size: .9rem;
    padding: .4rem .7rem;
    border-radius: 1rem;
    background-color: var(--medium-grey);
}

.thanks-card-text-content{    
   text-align: center;
   font-size: .9rem;
   line-height: 1.5rem;
   color: var(--light-grey);
}

.hide{
    display: none;
}

.show{
    display: block;
}
